{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recess-order",
    "stylelint-config-prettier"
  ],
  "rules": {
    "declaration-empty-line-before": "never",
    "no-descending-specificity": null
  }
}